<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Djorg it baby!</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
 		<div class="container">
			<div class="jumbotron">
				<h1>Djorg Bookmarks App</h1> 
				<p>If you don't know what a Djorg is, neither do we.
				   Certainly don't ask a Bjorg, because he doesn't know either.
				 </p>
			</div>
			<p>
				<a href="bookmarks/">bookmarks</a>
			</p> 
		</div> 
  </body>
</html>


